<div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Chat Room</h3>
          </div>
          <div class="card-body chat-container">
            <p class="message" id="messageLogs"></p>
        </div>
          <div class="card-footer">
            <div class="input-group">
              <input id="chatbox" type="text" class="form-control" placeholder="Escriba un mensaje...">
              <button id="enviar" class="btn btn-primary">Enviar</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/chat.js"></script>

<style>
  .chat-container {
    height: 500px;
    overflow-y: scroll;
  }

  .message {
    margin-bottom: 10px;
  }
</style>