<div class="text-center mb-5">
  <div class="mt-5">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">
            Iniciar sesión
          </h5>
          <div class="card-text">
            <form id="loginForm">
              <label>
                Email
              </label>
              <input name="email" class="form-control col" />
              <br />
              <label>
                Contraseña
              </label>
              <input
                type="password"
                name="password"
                class="form-control mb-5 col"
              />
              <button class="btn btn-primary" type="submit">
                Enviar
              </button>
            </form>
          </div>
          <p>
            ¿No estás registrado?
            <a href="/register">
              Regístrate aquí
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>