<div>
  <nav class="nav m-5">
    <a class="nav-link" aria-current="page" href="/home">
      Home
    </a>
    <a class="nav-link" aria-current="page" href="/chat">
      Chat
    </a>
    <a class="nav-link" aria-current="page" href="/cart">
      Carrito
    </a>
    <a class="nav-link" aria-current="page" href="/realtimeproducts">
      Real Time Products
    </a>
    <a class="nav-link" aria-current="page" href="/profile">
      Perfil de Usuario
    </a>
  </nav>
  <h1>
    Tu perfil (sin datos sensibles)
  </h1>
  <p>
    {{user.name}}
  </p>
  <p>
    {{user.email}}
  </p>
  <p>
    {{user.age}}
  </p>
  <a href="/logout">
    <button>
      Salir
    </button>
  </a>
</div>