<div class="text-center mb-5">
  <div class="mt-5">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">
            Completa el Formulario para Registrarte
          </h5>
          <div class="card-text">
            <form id="registerForm" class="row">
              <div class="input-group mb-3">
              <label class="input-group-text">
                Nombre
              </label>
              <input name="first_name" class="form-control col" required />
              </div>
              
              <div class="input-group mb-3">
              <label class="input-group-text">
                Apellido
              </label>
              <input name="last_name" class="form-control col" required />
              </div>
              
              <div class="input-group mb-3">
              <label class="input-group-text">
                Email
              </label class="input-group-text">
              <input name="email" class="form-control col" required />
              </div>
              <div class="input-group mb-3">
              <label class="input-group-text">
                Edad
              </label>
              <input name="age" class="form-control col" required />
              </div>
              <div class="input-group mb-3">
              <label class="input-group-text">
                Contraseña
              </label>
              <input
                type="password"
                name="password"
                class="form-control col" required
              />
              </div>
              <div class="text-center">
                              <button class="btn btn-primary col-2" type="submit">
                Registrar
              </button>
              </div>

            </form>
          </div>
          <p>
            ¿Ya tienes una cuenta?
            <a href="/">
              Ingresa aquí
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/register.js"></script>