<div class="text-center mb-5">
  <div class="mt-5">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">
           Restaura la contraseña del usuario
          </h5>
          <div class="card-text">
            <form id="restartPasswordForm" class="row">
              <div class="input-group mb-3">
              <label class="input-group-text">
                Email
              </label class="input-group-text">
              <input name="email" class="form-control col" required />
</div>
              <div class="input-group mb-3">
              <label class="input-group-text">
                Contraseña Nueva
              </label>
              <input
                type="password"
                name="password"
                class="form-control col" required
              />
              </div>
              <div class="text-center">
                              <button class="btn btn-primary col-2" type="submit">
                Guardar
              </button>
              </div>

            </form>
          </div>
          <p>
            ¿La recordaste?
            <a href="/">
              Ingresa aquí
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/restartPassword.js"></script>